body {
	font-family: "Arial Narrow";
	background: url('images/backgr.png');
}

html, body {
	height: 100%;
}

.wrapper {
    min-height: 100%;
	position: relative;
}

ul {
	list-style-type: none;
}


                                                      /*************MAIN PAGE STYLE***************/


                            /****** HEADER *******/
header {
	min-width: 1200px;
	width: 100%;
	background-color: #eff3f7;
}

.headerWrap {
	width: 1200px;
	height: 120px;
	margin: 0 auto;
	position: relative;
}

.social:after {
    content: "";
    display: block;
    clear: both;
}

.logo{
	left: 0;
	bottom: 40px;
	position: absolute;
}

.social {
    right: 0;
	bottom: 40px;
	position: absolute;
}

.social ul {
	margin: 0;
}

.sprite {
    background: url(images/spritesheet.png) no-repeat;
    display: inline-block;
    margin-left: 10px;
}

.sprite-fb {
    width: 48px;
    height: 48px;
    background-position: -5px -5px;
}

.sprite-fb:hover {
    width: 48px;
    height: 48px;
    background-position: -62px -5px;
}

.sprite-git {
    width: 48px;
    height: 48px;
    background-position: -5px -62px;
}

.sprite-git:hover {
    width: 48px;
    height: 48px;
    background-position: -62px -62px;
}

.sprite-tw {
    width: 48px;
    height: 48px;
    background-position: -118px -5px;
}

.sprite-tw:hover {
    width: 48px;
    height: 48px;
    background-position: -118px -62px;
}

.sprite-vk {
    width: 48px;
    height: 48px;
    background-position: -5px -118px;
}

.sprite-vk:hover {
    width: 48px;
    height: 48px;
    background-position: -62px -118px;
}

.gradient-left {
	position: absolute;
    left: 0;
	margin: 0;
	height: 3px;
	width: 600px;
	background: linear-gradient(-90deg, #1c667a, #eff3f7);
}

.gradient-right {
	position: absolute;
    right: 0;
	margin: 0;
	height: 3px;
	width: 600px;
	background: linear-gradient(90deg, #1c667a, #eff3f7);
}

.gradient-header{
	bottom: 0;
}

.gradient-footer{
	top: 0;
}


                             /*****CONTENT*****/


.content {
    height: auto;
	width: 960px;
	margin: 0 auto;
	padding-bottom: 39px;
}

.content::after{
    display: block;
    content: "";
	clear: both;
}

.links {
	float: left;
	width: 250px;
}                             

.menu {
	float: left;
	width: 250px;
	margin-top: 39px;
	background-color: #eff3f7;
	border-radius: 5px;
	overflow: hidden;
}

.border-line {
	height: 18px;
	padding: 28px 15.3px 28px 15.3px;
	width: 199.6px;
	border-top: 2px solid #3ba8c0;
	margin: 0 auto;
	margin-top: -2px;
	color: white;
}

.active-link {
	background-color: #3ba8c0;
	color: white;
}

.border-line-none {
	border-top: 0;
}

.menu ul {
    padding: 0;
    margin: 0;
}

.menu ul li {
    padding-left: 10px;
    padding-right: 10px;
    height: 77px;
	/*border-top: 2px solid #3ba8c0;*/
}

a {
	text-decoration: none;
}

.menu ul li a {
    color: #a9aeb9;
    font-size: 18px;
}

.menu ul li a:hover {
	color: #3ba8c0;
}


.contacts {
	margin-bottom: 39px;
	overflow: hidden;
	margin-top: 23px;
	float: left;
	width: 250px;
	border-radius: 5px;
	background-color: #eff3f7;
}

.contacts ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.contactsHeader {
    background-color: #3ba8c0;
    font-size: 16px;
    margin: 0;
    height: 40px;
} 

.contactsHeaderText {
	padding: 14px 0 0 21px;
	color: white;
}

.contactsEmail {
	background-color: #41b9d4;
	font-size: 14px;
	height: 40px;
}

.contactsPhone {
	background-color: #48cbe8;
	font-size: 14px;
	height: 40px;
}

.contactsSkype {
	background-color: #51daf8; 
	font-size: 14px;
	height: 40px;
}

.contactsImage {
	height: 26px;
	float: left;
	margin: 11px 0 0 42px;
}

.contactsLink {
	color: white;
	width: 167px;
	height: 26px;
	float: right;
    margin: 11px 0 0 20px;
}

.linkBlock {
	display: block;
	text-decoration: none;
}

.contactsLink a:hover {
    
}





.content_block {
    width: 650px;
    float: left;
    margin: 39px 0 76px 60px;
    border-radius: 5px;
    overflow: hidden;
}

.basicInfo {
	background-color: #eff3f7;
    padding: 22px 22px 22px 0;  
    margin-bottom: 26px;  
    border-radius: 5px;
}

.basicInfo:after {
	content: "";
	display: block;
	height: 0;
	clear: both;
}

.header {
	width: 280px;
	margin-top: 0;
	padding: 0 22px 18px 22px;
	color: #3ba8c0;
	border-bottom: 3px solid #3ba8c0;
}

.avatarCover {
	min-height: 250px;
	width: 167px;
	float: left;
	padding-left: 22px;
	padding-right: 22px;
}

.avatar {
	float: right;
	border: 3px solid #34a7bd;
	overflow: hidden;
	width: 139px;
	height: 139px;
	-moz-border-radius: 100px; /* Firefox */
	-webkit-border-radius: 100px; /* Safari, Chrome */
	-khtml-border-radius: 100px; /* KHTML */
	border-radius: 100px; /* CSS3 */
	behavior: url(border-radius.htc); /*IE */
}

.infoBlock {
	width: 400px;
	float: left;
	border-radius: 5px;
}

.infoBlock ul {
	list-style-type: none;
	padding-left: 20px;
	margin: 0;
}

.infoBlock ul>li {
	width: 400px;
	margin-bottom: 23px;
}

.infoStringTag {
	float: left;
}

.infoStringName {
	display: inline-block;
    max-width: 284px;
    margin: 0;
    padding-left: 21px;
}

.infoStringAge {
	display: inline-block;
    max-width: 274px;
    margin: 0;
    padding-left: 21px;
}

.infoStringCity {
	display: inline-block;
    max-width: 291px;
    margin: 0;
    padding-left: 21px;
}

.infoStringProf {
	display: inline-block;
    max-width: 214px;
    margin: 0;
    padding-left: 21px;
}

.infoStringExp {
	display: inline-block;
    max-width: 202px;
    margin: 0;
    padding-left: 21px;
}

.button-b {
	padding: 0px 10px 4px 10px;
	background: linear-gradient(0deg, #1c667a, #51daf8);;
	color: white;
	border-radius: 4px;
	border: none;
	margin: 0px 4px 5px 0px;
}

.experiencEducation {
	background-color: #eff3f7;
    padding: 22px 22px 22px 0;
    margin-bottom: 26px;
    border-radius: 5px;
}

.experiencEducation ul {
    padding: 0;
}

.experiencEducation ul li {
	
}

.li_doc {
    background: url("images/doc.png") no-repeat;
    margin-left: 63px;
}

.li_cap {
    background: url("images/acad_cap.png") no-repeat;
    margin-left: 56px;
}

.li_case {
	background: url("images/case.png") no-repeat;
    margin-left: 58px;
}

.nameString {
    margin-bottom: 8px;
    margin-top: 26px;
    font-size: 13pt;
    padding-left: 64px;
}

.dateString {
	margin-top: 8px;
	margin-bottom: 26px;
	font-size: 11pt;
	padding-left: 64px;
}

.stringAcadCap {
	padding-left: 64px;
}

.stringDoc {
    padding-left: 59px;
}


                                         /*******FOOTER*********/


footer {
	min-height: 76px;
	min-width: 100%;
	background-color: #eff3f7;
	position: absolute;
	bottom:0px;
    left:0px;
}

.footerWrap {
	width: 1200px;
	height: 100%;
	position: relative;
	margin: 0 auto;
}

.auth {
	position: absolute;
	left: 250px;
	top: 23px;
	width: 20px;
	height: 32px;
	background: url("images/login.png") no-repeat;
}

.auth:hover {
    background: url("images/logged.png") no-repeat;
}

.footerString {
    margin: 0 auto;
    width: 497px;
    line-height: 76px;
}



                                               /*************MYWORKS PAGE STYLE***************/

.header-margin {
	margin-top: 22px;
}

.siteCatalog {
	padding: 19px;
	padding-right: 0px;
}



.siteBlock {
	margin-right: 24px;
	width: 183px;
	display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    zoom: 1;
    *display: inline;
}

.site {
	width: 179px;
	min-height: 125px;
}

.site-image {
	position: absolute;
	width: 179px;
	height: 125px;
	border-radius: 5px;
	border: 2px solid #1b9eb7;
	overflow: hidden;
}

.site-image:after {
	content: "";
	display: block;
	clear: both;
}

.site-image-cover {
	background-color: #3ba8c0; 
	position: relative;
	width: 179px;
	height: 125px;
	border-radius: 5px;
	border: 2px solid #1b9eb7;
	top: 0;
	left: 0;
	visibility: hidden;
	opacity: 0.8;
}

.site-image-cover-link {
	margin: 0 auto;
	margin-top:50px;
	width: 0px;
	height: 0px;
	border: 2px solid white;
	border-radius: 10px;
	font-size: 0pt;
	font-style: bold;
	text-align: center;
	color: white;
	visibility: hidden;

}

.site-image-cover-link a {
	color: white;
}

.site-image-cover:after {
	content: "";
	display: block;
	clear: both;
}

.site-image img {
	
}

.siteLinkBlock {
    margin: 0;
    text-align: center;
}

.siteLinkBlock a {

}

.siteLink {
    margin-top: 0;
    margin-bottom: 5px;
	font-style: italic;
	font-size: 11pt;	
	text-align: center;
}

.siteLink:before {
	content: "";
	display: block;
	clear: both;
}

.siteDescription {
	padding-right: 10px;
	padding-left: 10px;
	text-align: center;
	margin: 8px 0 25px 0px;
}

.hover-div {
	position: absolute;
	top: 60px;
	left: 90px;
	width: 0px;
	height: 0px;
	padding: 0;
	color: white;
	border-radius: 10px;
	font-size: 0pt;
}

.hover-div span a {
    color: white;
}




                             /*************CONTACTME.HTML*************/

.content_block_round_angles {
	background-color: #eff3f7;
	padding-bottom: 40px;
}

.writeMeForm {
	width: 435px;
	margin: 0 auto;
}

.writeMeForm:after {
	content: "";
	display: block;
	clear: both;
}

.writeMeHeader {
	width: 100%;
	height: 18px;
	background-color: #48cbe8;
	box-shadow: inset 0px -15px 0px 0px #51daf8;
	text-align: center;
	vertical-align: middle;
    padding: 103.5px 0;
}

.writeMeHeaderString {
    margin-top: -9px;
    font-size: 22pt;
    color: white;
}

.inputFieldBlock {
	display: inline-block;
    width: 197px;
}

.inputFieldHeader {
	margin: 24px 0 8px 0;
}

.inputField {
    height: 40px;
    border-radius: 5px;
    width: 197px;
}

.textArea {
	min-width: 429px;
	min-height: 180px;
	border-radius: 5px;
}

.captcha {
    margin-top: 24px;
}

.sendButton{
    float: left;
    min-width: 150px;
    height: 35px;
    margin: 24px 0;
    box-shadow: inset 0px -2px 0px 0px #3ba8c0;
    background-color: #48cbe8;
    border-radius: 5px;
    color: white;
    font-size: 14pt;
}

.clearButton {
    float: right;
    min-width: 150px;
    height: 35px;
    margin: 24px 0;
    box-shadow: inset 0px -2px 0px 0px #687b8f;
    background-color: #849db5;
    border-radius: 5px;
    color: white;
    font-size: 14pt;
}

.sendButton:hover {
    box-shadow: none;
    padding-top: 3px; 
}

.clearButton:hover {
	box-shadow: none;
	padding-top: 3px;
}

.sendButton:active {
    box-shadow: inset 0px 3px 0px 0px #3ba8c0;
    padding-top: 6px;
}

.clearButton:active {
    box-shadow: inset 0px 3px 0px 0px #687b8f;
    padding-top: 6px;
}

